<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Logistics System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/ ">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/sorted-location">Journey</a>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Details
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/customer">Customer</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/parcel">Parcel</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/location">Location</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/lorry">Lorry</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/driver">Driver</a>
        </div>
      </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownForCreate" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Create
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/customer/customer-new">Customer</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/parcel/parcel-new">Parcel</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/location/parcel-location-new">Location</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/lorry/lorry-new">Lorry</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/driver/driver-new">Driver</a>
        </div>
      </li>
      </ul>
    </div>
  <a href="{% url 'logout' %}"><button class="btn btn-outline-info my-2 my-sm-0" type="submit">Logout Test</button></a>
</nav>