{% extends "base.html" %}

{% block content%}
<div class="card">
    <div class="card-header lead">
        {% if title%}
            {{title}}
        {% endif%}
    </div>
    <div class="card-body">
        <form>
            <div class="form-group row">
                <label class="col-sm-5 lead">Lorry</label>
                <div class="col-sm-7">
                     <p class="lead" style="padding-top:6px">{{object.lorry}}</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-5 lead">Driver Name</label>
                <div class="col-sm-7">
                    <p class="lead" style="padding-top:6px">{{object.first_name}} {{object.last_name}}</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-5 lead">Status</label>
                <div class="col-sm-7">
                    <p class="lead" style="padding-top:6px">{{object.status}}</p>
                </div>
            </div>
        </form>
    </div>
    <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups" style=" display: block; text-align: right;">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <a href="{{object.get_edit_url}}"><button type="button" class="btn btn-secondary">Edit</button></a>
            <a href="{{object.get_delete_url}}"><button type="button" class="btn btn-danger">Delete</button></a>
        </div>
    </div>
</div>
{% endblock %}