{% extends "base.html" %}

{% block content %}
<div class="col-12 col-md-12 mb-3 mx-auto" style="padding-top:15px;padding-bottom:15px">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">No</th>
        <th scope="col">Lorry Name</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col"> </th>
      </tr>
    </thead>
    <tbody>
      {% for driver in driver_list %}
        <tr date-href="{{location.get_absolute_url}}">
          <th scope="row">{{forloop.counter}}</th>
          <td>{{driver.lorry}}</td>
          <td>{{driver.first_name}} {{driver.last_name}}</td>
          <td>{{driver.status}}</td>
          <td><a href="{{driver.get_absolute_url}}"><button type="button" class="btn btn-info">View</button></a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
