{% extends "base.html" %}

{% block content %}

<div class="card">
    <div class="card-header lead">
        Create Parcel
    </div>
    <div class="card-body">
        <form method="POST"action=".">{%csrf_token%}
            {{form.error}}
            <div class="form-group row">
                <label class="col-sm-5 lead">Customer</label>
                <div class="col-sm-7">
                     <p class="lead" style="padding-top:6px">{{form.customer}}</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-5 lead">Parcel Name</label>
                <div class="col-sm-7">
                     <p class="lead" style="padding-top:6px">{{form.name}}</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-5 lead">Parcel Weight</label>
                <div class="col-sm-7">
                    <p class="lead" style="padding-top:6px">{{form.weight}}</p>
                </div>
            </div>
            <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups" style=" display: block; text-align: right;">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}