<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
{% include "js.html" %}
<div id="content-container" class="container p-none">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <div class="lgn-container col-lg-12">
                        <form id="login-form" method="post">
                            {% csrf_token %}
                            <div class="table">
                                <div class="form-group row">
                                    <label class="col-sm-5 lead">Username</label>
                                        <div class="col-sm-7">
                                            <input id="id_username" name="username"
                                           type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-5 lead">Password</label>
                                            <div class="col-sm-7">
                                                <input id="id_password" name="password"
                                           type="password" class="form-control">
                                            </div>
                                    </div>
                                </div>
                            </table>
                            {% if form.errors %}
                                <p class=" label label-danger">
                                    Your username and password didn't match.
                                    Please try again.
                                </p>
                            {% endif %}
                            <input type="submit" value="Login"
                                   class="btn btn-primary pull-right" />
                            <input type="hidden" name="next" value="{{ next }}" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "js.html" %}
