{% extends "base.html" %}
15
{% block content %}
<div class="col-12 col-md-12 mb-3 mx-auto" style="padding-top:15px;padding-bottom:15px">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col" style="width:5%">No</th>
        <th scope="col" style="width:15%">Name</th>
        <th scope="col" style="width:15%">Email</th>
        <th scope="col" style="width:15%">Phone No</th>
        <th scope="col" style="width:45%">Address</th>
        <th scope="col" style="width:5%"> </th>
      </tr>
    </thead>
    <tbody>
      {% for customer in customer_list %}
        <tr date-href="{{customer.get_absolute_url}}">
          <td scope="row">{{forloop.counter}}</td>
          <td>{{customer.first_name}} {{customer.last_name}}</td>
          <td>{{customer.email}}</td>
          <td>{{customer.phone_no}}</td>
          <td>{{customer.address}}</td>
          <td><a href="{{customer.get_absolute_url}}"><button type="button" class="btn btn-info">View</button></a></td>
        </tr>

      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}


