{%extends "base.html" %}

{% block content %}

<div class="card">
    <div class="card-header lead">
        {{title}}
    </div>
    <div class="card-body">
        <form method="POST">{%csrf_token%}
            {{form.error}}
            <div class="form-group row">
                <label class="col-sm-5 lead">First Name</label>
                <div class="col-sm-7">
                     <p class="lead" style="padding-top:6px">{{form.first_name}}</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-5 lead">Last Name</label>
                <div class="col-sm-7">
                     <p class="lead" style="padding-top:6px">{{form.last_name}}</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-5 lead">Email</label>
                <div class="col-sm-7">
                    <p class="lead" style="padding-top:6px">{{form.email}}</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-5 lead">Phone Number</label>
                <div class="col-sm-7">
                    <p class="lead" style="padding-top:6px">{{form.phone_no}}</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-5 lead">Address</label>
                <div class="col-sm-7">
                    <p class="lead" style="padding-top:6px">{{form.address}}</p>
                </div>
            </div>
            <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups" style=" display: block; text-align: right;">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>

    </div>
</div>

{% endblock %}