{% extends "base.html" %}

{% block content %}
    <div class="col-12 col-md-12 mb-3 mx-auto" style="padding-top:15px;padding-bottom:15px">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col" style="width:15%">Name</th>
        <th scope="col" style="width:12%">Monday</th>
        <th scope="col" style="width:12%">Tuesday</th>
        <th scope="col" style="width:12%">Wednesday</th>
        <th scope="col" style="width:12%">Thursday</th>
        <th scope="col" style="width:12%">Friday</th>
        <th scope="col" style="width:12%">Saturday</th>
        <th scope="col" style="width:12%">Sunday</th>
      </tr>
    </thead>
    <tbody>
      {% for element in elements_list %}
        <tr date-href="">
            {% for e in element%}
                <td scope="row">{{e}}</td>
            {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}