
{% include "js.html" %}
<div class="container mt-5">
    <div class="ow justify-content-md-center">
        <div class="card">
            <h5 class="card-header">Not Authorized</h5>
            <div class="card-body">
                <h5 class="card-title">You are not authorized to view this page</h5>
                <p class="card-text">You do not have permission to view this directory or page using credentials that you supplied.</p>
                <a href="javascript:history.go(-1)" class="btn btn-primary">Back</a>
            </div>
        </div>
    </div>
</div>
