{% extends "base.html" %}

{% block content %}

<div class="col-12 col-md-12 mb-3 mx-auto" style="padding-top:15px;padding-bottom:15px">
{% for location in location_list %}
    <table class="table" style="margin-top:30px;margin-bottom:30px">
        <thead class="thead-light">
            <tr>
                <th scope="col" style="width:20%">No</th>
                <th scope="col" style="width:80%">{{location.0}}</th>
            </tr>
        </thead>
        {% for l in location|slice:"1:" %}
        <tbody>
            <tr>
                <td scope="row">{{forloop.counter}}</td>
                <td scope="row">{{l}}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
{% endfor %}
</div>


{% endblock %}