{% extends "base.html" %}

{% block content %}
<div class="col-12 col-md-12 mb-3 mx-auto" style="padding-top:15px;padding-bottom:15px">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">No</th>
        <th scope="col">Parcel</th>
        <th scope="col">Postcode</th>
        <th scope="col">address</th>
        <th scope="col"> </th>
      </tr>
    </thead>
    <tbody>
      {% for location in location_list %}
        <tr date-href="{{location.get_absolute_url}}">
          <th scope="row">{{forloop.counter}}</th>
          <td>{{location.parcel}}</td>
          <td>{{location.postcode}}</td>
          <td>{{location.address}}</td>
          <td><a href="{{location.get_absolute_url}}"><button type="button" class="btn btn-info">View</button></a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
