{% extends "base.html"%}

{% block content %}
<div class="card">
    <div class="card-header lead">
        Are you sure you want to delete?
    </div>
    <div class="card-body">
        <form>
            <div class="form-group row">
                <label class="col-sm-5 lead">Lorry Description</label>
                <div class="col-sm-7">
                     <p class="lead" style="padding-top:6px">{{object.description}}</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-5 lead">Status</label>
                <div class="col-sm-7">
                    <p class="lead" style="padding-top:6px">{{object.status}}</p>
                </div>
            </div>
        </form>
    </div>
    <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups" style=" display: block; text-align: right;">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <form method="POST">{% csrf_token%}
                <button class="btn btn-danger">Yes, delete</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}